{
  "presets": [
    ["env","stage-2"] //去掉{modules:false} 使用commonjs写法 babel没有编译
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
